.main{
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__title{
        color: $acc-color;
        font-size: 8rem;
        margin: 0 0 80px;
    }

    &__subtitle{
        color: $secondary-color-b;
        font-size: 2.8rem;
        margin: 0 0 30px;
    }

    .input{
        border: 3px solid $secondary-color-a;
        border-radius: 25px;
        font-size: 1.6rem;
        font-family: 'Karla', sans-serif;
        height: 50px;
        padding: 0 20px;
        width: 70%;
        background-color: rgba(255, 255, 255, .5);
        outline: none;

        &::placeholder{
            color: $secondary-color-b;
        }
    }
}